/*------Media Queries------*/

$smartphones-width: 480px;

@mixin smartphones {
    @media (max-width: $smartphones-width) {
        @content;
    }
}

/*------Tablets------*/

$tablet-width: 768px;

@mixin tablet {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
        @content
    }
}


/*------Desktops & Laptops------*/

$desktop-width: 1024px;

@mixin desktop {
    @media (min-width: $desktop-width) and (max-width: $large-screen-width - 1px) {
        @content
    }
}


/*------Large Screens------*/

$large-screen-width: 1440px;

@mixin large-screen {
    @media (min-width: $large-screen-width) {
        @content
    }
}


/*------Colors------*/

$red: #9a3339;
$orange: #A7502F;
$background-red: #F6D6C9;
$white: #EBEBEB;
$white-light: #fafafa;
$blue: #1D465D;
$green: #50af57;
$green-darker: #3b8240;


/*-------------------------------Navbar-------------------------------*/

.navbar-brand {
    @include smartphones {
        font-size: 16px;
    }

    @include tablet {
        font-size: 16px;
    }

    border-right: none;
}

.bg-dark {
    background-color: $red !important;
}


/*-------------------------------Header-------------------------------*/

header {
    border-bottom: 1px solid rgba(230, 230, 230, 0.24);
    background-color: $blue;
}

#profile {
    padding-top: 15px;
    padding-right: 40px;

    @include smartphones {
        padding-right: 16px;
    }

    @include tablet {
        padding-right: 16px;
    }

}

#profile img {
    width: 145px;
    height: auto;
    border-radius: 4px;

    @include desktop {
        width: 123px;
        height: auto;
    }
}

.fa-envelope,
.fa-linkedin,
.fa-github {
    color: $white;
}

.fa-envelope:hover,
.fa-linkedin:hover,
.fa-github:hover {
    color: $orange;
}

#social {
    padding-right: 0px;

    @include desktop {
        padding-left: 0px;
    }
}

#social ul {
    padding-top: 5px;
    padding-left: 0px;
    margin-left: 8px;
    padding-right: 34px;

    @include smartphones {
        margin-left: 0px;
        padding-right: 0px;
    }

    @include tablet {
        margin-left: 0px;
        padding-right: 0px;
    }

}

#social li {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 22px;
    display: inline;
}

#selector {
    padding-top: 35px;
    padding-left: 0px;
    padding-right: 0px;

    @include smartphones {
        padding-top: 15px;
    }

    @include tablet {
        padding-top: 15px;
    }
}

#selector-header {
    padding-bottom: 35px;

    @include smartphones {
        font-size: 18px;
        padding-bottom: 15px;
    }

    @include tablet {
        font-size: 18px;
        padding-bottom: 15px;
    }

    @include desktop {
        font-size: 24px;
    }
}

.dc-select-menu {
    background-color: $orange;
    border-color: $red;
    color: $white;
    font-size: 18px;
    height: 50px;
    width: 195px;

    @include desktop {
        width: 160px;
    }
}

.btn-primary {
    margin-right: 8px;
    background-color: $orange;
    border-color: $red;
}

#reset-all {
    background-color: #A7502F;
    border-color: #9a3339;
    color: #EBEBEB;
    font-size: 18px;
    height: 50px;
    width: 195px;
    text-align: left;
    line-height: 2.1;
    border-radius: 4px;
    margin-right: 35px;
    
    @include smartphones {
        margin-right: 0px;
        margin-bottom: 25px;
    }

    @include tablet {
        margin-right: 0px;
        margin-bottom: 25px;
    }
    
    @include desktop {
        margin-right: 0px;
        margin-left: 12px;
    }
}

#country-selector,
#variety-selector,
#points-selector,
#price-selector {
    
    margin-right: 30px;

    @include smartphones {
        margin-bottom: 15px;
    }

    @include tablet {
        margin-bottom: 15px;
    }
}


/*-------------------------------Main-------------------------------*/

body {
    background-color: $blue;
}

.container {
    margin-bottom: 35px;
    margin-top: 15px;
}

.row {
    margin: 0;
}

.container-fluid {
    padding-right: 20px;
}

h4 {
    font-weight: bold;
}

h5 {
    float: left;
    color: $red;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 3px;
    padding-top: 2px;
}


/*------Wine Cards------*/

#wine-container {
    padding-left: 0px;
}

#offers-section-title {
    padding-top: 14px;
}

.border-right-added {
    border-right: 1px solid rgba(230, 230, 230, 0.24);

    @include smartphones {
        border-right: none;
    }

    @include tablet {
        border-right: none;
    }
}

#card-1 {
    margin-bottom: 95px;

    @include smartphones {
        margin-bottom: 50px;
    }

    @include tablet {
        margin-bottom: 50px;
    }
}

#card-2 {
    margin-bottom: 97px;

    @include smartphones {
        margin-bottom: 50px;
    }

    @include tablet {
        margin-bottom: 50px;
    }
}

#card-3 {
    margin-bottom: 93px;

    @include smartphones {
        margin-bottom: 50px;
    }

    @include tablet {
        margin-bottom: 50px;
    }
}

#card-4 {
    margin-bottom: 60px;

    @include smartphones {
        margin-bottom: 50px;
    }

    @include tablet {
        margin-bottom: 50px;
    }

}

.wine-card {
    width: 100%;
    height: 350px;
    padding-top: 15px;
    background-color: #fff;
    border-radius: 2.5%;

}

#wine-image1 {
    background: url(../images/wine1.jpg) no-repeat center;
    background-size: contain;
    height: 230px;
    border-radius: 2.5%;
    margin: 0px;

    @include desktop {
        height: 185px;
    }
}

#wine-image2 {
    background: url(../images/wine2.jpg) no-repeat center;
    background-size: contain;
    height: 230px;
    border-radius: 2.5%;
    margin: 0px;

    @include desktop {
        height: 185px;
    }
}

#wine-image3 {
    background: url(../images/wine3.jpg) no-repeat center;
    background-size: contain;
    height: 230px;
    border-radius: 2.5%;
    margin: 0px;

    @include desktop {
        height: 185px;
    }
}

#wine-image4 {
    background: url(../images/wine4.jpg) no-repeat center;
    background-size: contain;
    height: 230px;
    border-radius: 2.5%;
    margin: 0px;

    @include desktop {
        height: 185px;
    }
}


.wine-content {
    background-color: transparent;
    padding-left: 11px;
    padding-top: 5px;
}

.domaine {
    float: left;
    color: $red;
    font-size: 10px;
    margin: 0;
    padding-bottom: 2px;
    width: 100%;
}

.wine-location {
    float: left;
    color: $red;
    font-size: 10px;
    margin: 0;
    padding-bottom: 2px;
    padding-top: 3px;
    width: 100%;
}

.room-for-flags {
    padding-right: 4px;
}

.country-icon {
    width: 15px;
    height: auto;
    float: left;
}

.price-and-point {
    color: $red;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    display: inline-flex;
    width: 100%;

    @include desktop {
        font-size: 10px;
    }
}

.price-and-point-items {
    padding-left: 8px;
    padding-top: 4px;
}

.btn-secondary {
    font-size: 16px;
    color: $white-light;
    background: $green;
    width: 45px;
    height: 25px;
    border-radius: 4px;
    border-color: $green;
    margin-left: 11px;

    @include desktop {
        margin-left: 3px;
        margin-right: 4px;
        margin-top: 13px;
    }
}

.btn-secondary:hover {
    background: $green-darker;
    border-color: $green-darker;
}

.btn-secondary .cart-icon {
    display: block;
    text-align: center;
    margin: -2.5px 0px -2.5px 0px;
}


/*------Charts------*/

#charts {
    padding: 0px;
}


svg {

    @include smartphones {
        width: 228px;
    }

}

svg {

    @include desktop {
        width: 228px;
    }

}

#country-variety svg {

    @include tablet {
        width: 613px;
    }

}

#price-to-points svg {

    @include tablet {
        width: 652px;
    }

}

.section-paragraph {
    padding-bottom: 15px;
    padding-top: 10px;

    @include smartphones {
        font-size: 16px;
    }

    @include tablet {
        font-size: 16px;
    }

    @include desktop {
        font-size: 20px;
    }

}

.make-orange {
    color: $orange;
}

@mixin pieChart() {
    fill: $orange;
    background: $background-red;
    padding-left: 60px;
    @content;

}

@mixin barChart() {
    fill: $orange;
    background: $background-red;
    padding-top: 28px;
    padding-left: 30px;
}

#country-count,
#average-points,
#country-variety,
#price-to-points {
    @include barChart
}

#country-count .bar text {
    text-anchor: end !important;
    transform: rotate(-45deg)!important;
}

#country-distribution,
#points-distribution {
    @include pieChart
}

#country-variety {
    padding-left: 50px !important;
}

g .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}


/*---Footer---*/

#footer {
    margin-bottom: 0px;
    margin-top: 0px;
}

footer {
    text-align: center;
    background-color: $red;
}

footer .container {
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-icons a {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-icons i {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: $white-light;
    color: $red;
    width: 41px;
    height: 41px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 2px;
    text-align: center;
    vertical-align: middle;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

footer i:hover {
    color: $background-red;

}
