/*-------------------------------Navbar-------------------------------*/

.navbar-brand {
    border-right: none;
}

.bg-dark {
    background-color: #9a3339 !important;
}


/*-------------------------------Header-------------------------------*/

header {
    border-bottom: 1px solid rgba(230, 230, 230, 0.24);
    margin-bottom: 10px;
    background-color: #1D465D;
}

#profile {
    padding-top: 15px;
}

#profile img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
}


#social {
    padding-right: 0px;
}

#social ul {
    padding-top: 5px;
    padding-left: 0px;
    margin-left: 8px;
}

#social li {
    padding-left: 5px;
    padding-right: 10px;
    font-size: 22px;
    display: inline;
}

#sector {
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

#sector-header {
    padding-bottom: 15px;
}

.btn-primary {
    margin-right: 8px;
    background-color: #C3633E; 
    border-color: #9a3339;
}

/*-------------------------------Main-------------------------------*/

body {
    background-color: #1D465D;
}

/*------Charts------*/

#sector-count {
    fill: #C3633E;
    background: #F6D6C9;
}

#sector-count .bar {
    fill: #9a3339;
}

#sector-count .bar text {
    text-anchor: end !important;
    transform: rotate(-45deg)!important;
}

g .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
